/* line 1, ../scss/custom.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/custom.scss */
body {
  background: #eee;
}

/* ------------- MIXINS --------------*/
/* line 71, ../scss/custom.scss */
.flex, #content-page .top-block, #content-page .top-block .right-column, #content-page #container-of-users .header, #content-page #container-of-users .show-more, #content-page #container-of-users #preloader, #content-page #container-of-users #information, #content-page #container-of-users .persons-info .short-info, #content-page #container-of-users .persons-info .full-info .data-columns, #content-page .popup-chart {
  display: -webkit-flex;
  display: flex;
}

/* line 76, ../scss/custom.scss */
.text-ellipsis, #content-page #container-of-users .last-name, #content-page #container-of-users .first-name, #content-page #container-of-users .location, #content-page #container-of-users .phone, #content-page #container-of-users .username, #content-page #container-of-users .persons-info .full-info .data-columns > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------- INDEX PAGE --------------*/
/* line 85, ../scss/custom.scss */
#content-page {
  font: 400 16px Verdana, sans-serif;
  background-color: #EEEEEE;
  color: #646464;
}
/* line 89, ../scss/custom.scss */
#content-page .top-block {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 5%;
  background: #919191;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* line 98, ../scss/custom.scss */
#content-page .top-block #reload {
  cursor: pointer;
  width: 40px;
  white-space: 40px;
  margin-right: 30px;
}
/* line 103, ../scss/custom.scss */
#content-page .top-block #reload img {
  max-width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 106, ../scss/custom.scss */
#content-page .top-block #reload img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 112, ../scss/custom.scss */
#content-page .top-block .right-column {
  -webkit-align-items: center;
  align-items: center;
}
/* line 116, ../scss/custom.scss */
#content-page .top-block .search {
  position: relative;
}
/* line 118, ../scss/custom.scss */
#content-page .top-block .search input {
  background: transparent;
  border: none;
  width: 200px;
  box-shadow: none;
  outline: none;
  color: white;
  padding-right: 25px;
  border-bottom: 2px solid silver;
}
/* line 127, ../scss/custom.scss */
#content-page .top-block .search input:focus {
  border-color: #8B9ED7;
}
/* line 129, ../scss/custom.scss */
#content-page .top-block .search input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 133, ../scss/custom.scss */
#content-page .top-block .search input::-webkit-input-placeholder {
  color: white;
}
/* line 137, ../scss/custom.scss */
#content-page .top-block .search button {
  position: absolute;
  right: 2px;
  bottom: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  background: url(../images/magnifier.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 149, ../scss/custom.scss */
#content-page .top-block .search button:hover {
  background-image: url(../images/magnifier-hover.svg);
}
/* line 154, ../scss/custom.scss */
#content-page .top-block .button-show-chart {
  padding: 10px;
  background: silver;
  margin-left: 25px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-align: center;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
/* line 163, ../scss/custom.scss */
#content-page .top-block .button-show-chart:hover {
  background-color: #8B9ED7;
}
/* line 168, ../scss/custom.scss */
#content-page #container-of-users {
  width: 95%;
  margin: 59px auto 0;
  padding-bottom: 55px;
}
/* line 172, ../scss/custom.scss */
#content-page #container-of-users .header {
  font-weight: 600;
  background-color: #EEEEEE;
  padding: 15px 15px 0;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 179, ../scss/custom.scss */
#content-page #container-of-users .photo {
  width: 100px;
}
/* line 181, ../scss/custom.scss */
#content-page #container-of-users .photo .img-wrapper {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  border: 4px solid white;
  overflow: hidden;
}
/* line 56, ../scss/custom.scss */
#content-page #container-of-users .photo .img-wrapper img {
  width: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
/* line 185, ../scss/custom.scss */
#content-page #container-of-users .last-name, #content-page #container-of-users .first-name, #content-page #container-of-users .location, #content-page #container-of-users .phone, #content-page #container-of-users .username {
  width: calc(20% - 40px);
  padding-right: 15px;
}
/* line 190, ../scss/custom.scss */
#content-page #container-of-users .last-name, #content-page #container-of-users .first-name {
  max-width: 150px;
}
/* line 193, ../scss/custom.scss */
#content-page #container-of-users .show-more {
  -webkit-justify-content: center;
  justify-content: center;
  width: 100px;
  cursor: pointer;
}
/* line 199, ../scss/custom.scss */
#content-page #container-of-users .show-more.active span:nth-child(2) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 204, ../scss/custom.scss */
#content-page #container-of-users .show-more:hover span {
  background-color: #8B9ED7;
}
/* line 207, ../scss/custom.scss */
#content-page #container-of-users .show-more span {
  display: block;
  background-color: #656565;
  border-radius: 2px;
  width: 29px;
  height: 9px;
}
/* line 213, ../scss/custom.scss */
#content-page #container-of-users .show-more span:nth-child(2) {
  -webkit-transition: 0.3s transform;
  transition: 0.3s transform;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  top: -9px;
}
/* line 223, ../scss/custom.scss */
#content-page #container-of-users #preloader {
  height: calc(100vh - 103px);
  width: 100%;
  position: absolute;
  top: 103px;
  left: 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 231, ../scss/custom.scss */
#content-page #container-of-users #preloader img {
  margin: 0 auto;
}
/* line 236, ../scss/custom.scss */
#content-page #container-of-users #go-to-the-main {
  cursor: pointer;
  position: fixed;
  text-align: center;
  padding: 10px;
  bottom: 0;
  left: 50%;
  display: none;
  color: white;
  z-index: 25;
  width: 100%;
  background: #8B9ED7;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font: 400 15px Verdana, sans-serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 252, ../scss/custom.scss */
#content-page #container-of-users #go-to-the-main:hover {
  background: #9DE14F;
}
/* line 257, ../scss/custom.scss */
#content-page #container-of-users #information {
  height: calc(100vh - 103px);
  width: 100%;
  position: absolute;
  top: 103px;
  display: none;
  left: 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  font: 500 25px Verdana, sans-serif;
}
/* line 268, ../scss/custom.scss */
#content-page #container-of-users #information span {
  text-align: center;
  display: block;
  width: 100%;
}
/* line 273, ../scss/custom.scss */
#content-page #container-of-users #information .img-wrapper {
  margin-top: 25px;
  width: 210px;
  height: 210px;
}
/* line 277, ../scss/custom.scss */
#content-page #container-of-users #information .img-wrapper img {
  max-width: 100%;
}
/* line 283, ../scss/custom.scss */
#content-page #container-of-users .persons-info:nth-child(odd) {
  background-color: #EEEEEE;
}
/* line 286, ../scss/custom.scss */
#content-page #container-of-users .persons-info:nth-child(even) {
  background-color: #CCCCCC;
}
/* line 289, ../scss/custom.scss */
#content-page #container-of-users .persons-info {
  padding: 5px 15px;
}
/* line 291, ../scss/custom.scss */
#content-page #container-of-users .persons-info .short-info {
  cursor: pointer;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 296, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info {
  width: 87%;
  margin: 0px auto;
  position: relative;
  display: none;
}
/* line 302, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .img-of-gender {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: relative;
  top: 7px;
}
/* line 309, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .img-of-gender.male {
  background-image: url(../images/man.svg);
}
/* line 312, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .img-of-gender.female {
  background-image: url(../images/woman.svg);
}
/* line 316, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .name {
  font: 600 25px Verdana, sans-serif;
  margin: 15px 0 10px;
}
/* line 320, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .profile-photo {
  float: right;
}
/* line 322, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .profile-photo .img-wrapper {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 4px solid white;
  overflow: hidden;
}
/* line 56, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .profile-photo .img-wrapper img {
  width: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
/* line 326, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .data-columns {
  position: relative;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
/* line 331, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .data-columns > div {
  width: 33.3%;
  min-width: 300px;
  margin: 5px 0px 5px 0;
  padding-right: 40px;
  box-sizing: border-box;
}
/* line 338, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .data-columns > div .title {
  font-weight: bold;
  margin-right: 10px;
}
/* line 342, ../scss/custom.scss */
#content-page #container-of-users .persons-info .full-info .data-columns > div:last-child {
  padding-bottom: 50px;
}
/* line 350, ../scss/custom.scss */
#content-page .popup-chart {
  position: fixed;
  z-index: 100;
  background: #EEEEEE;
  width: 100%;
  height: 100vh;
  top: -100%;
  left: -100%;
  opacity: 0;
  -webkit-transition: 0.3s top, 0.3s left, 0.5s opacity;
  -webkit-align-items: center;
  align-items: center;
}
/* line 362, ../scss/custom.scss */
#content-page .popup-chart.visible {
  top: 0;
  left: 0;
  opacity: 1;
}
/* line 367, ../scss/custom.scss */
#content-page .popup-chart .close-button {
  position: absolute;
  right: 4%;
  top: 4%;
  width: 35px;
  cursor: pointer;
  height: 35px;
}
/* line 374, ../scss/custom.scss */
#content-page .popup-chart .close-button:hover span {
  background: #8B9ED7;
}
/* line 377, ../scss/custom.scss */
#content-page .popup-chart .close-button span {
  display: block;
  width: 35px;
  height: 8px;
  border-radius: 2px;
  background: grey;
  position: relative;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
/* line 386, ../scss/custom.scss */
#content-page .popup-chart .close-button span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px;
}
/* line 391, ../scss/custom.scss */
#content-page .popup-chart .close-button span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
}
/* line 398, ../scss/custom.scss */
#content-page .popup-chart #chart-of-gender {
  width: 85%;
  margin: 10px auto;
}
