* {
	box-sizing: border-box;
}

body { 
 	background: #eee;
 } 

/* ------------- MIXINS --------------*/

@mixin push--auto {
  margin: {
   left: auto;
   right: auto;
  }
}
 
@mixin justCont($value) {
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin alignItems($value) {
	-webkit-align-items: $value;
	align-items: $value;
}

@mixin alignBoth($value1, $value2) {
	-webkit-justify-content: $value1;
	justify-content: $value1;
	-webkit-align-items: $value2;
	align-items: $value2;
}

@mixin flexWrap($value) {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flexDir($value) {
	-webkit-flex-direction: $value;
	flex-direction: $value;
} 

@mixin trans($time: 0.3s, $objects: all) {
	-webkit-transition: $time $objects;
	transition: $time $objects;
}

@mixin circlePhoto($size) {
	border-radius: 50%;
	height: $size;
	width: $size; 
	border: 4px solid white;
	overflow: hidden;
	img {
		width: 100%;
		-webkit-object-fit: cover; 
		object-fit: cover;
		height: 100%;
	}
}

@mixin bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
} 

//  @extend 
.flex {
	display: -webkit-flex;
	display: flex;
}

.text-ellipsis {	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ------------- INDEX PAGE --------------*/


#content-page {
	font: 400 16px Verdana, sans-serif;
	background-color: #EEEEEE;
	color: #646464;
	.top-block {
		@extend .flex;
		@include alignBoth(space-between, center);  
		padding: 10px 5%;
		background: #919191;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
		#reload {
			cursor: pointer;
			width: 40px;
			white-space: 40px;
			margin-right: 30px;
			img {
				max-width: 100%;
				@include trans();
				&:hover {
					-webkit-transform: rotate(360deg);					
					transform: rotate(360deg);
				}
			}
		}
		.right-column {
			@extend .flex;
			@include alignItems(center);  
		}
		.search {
			position: relative;
			input {
				background: transparent;
				border: none;
				width: 200px;
				box-shadow: none;
				outline: none;
				color: white;
				padding-right: 25px;
				border-bottom: 2px solid silver;
				&:focus {
					border-color: #8B9ED7;
					&::-webkit-input-placeholder {
						color: transparent;
					}
				}
				&::-webkit-input-placeholder {
					color: white;
				}
			}
			button {
				position: absolute;
				right: 2px;
				bottom: 5px;
				width: 18px;
				height: 18px;
				cursor: pointer;
				outline: none;
				box-shadow: none;
				border: none;
				background: url(../images/magnifier.svg);
				@include bg; 
				&:hover {
					background-image: url(../images/magnifier-hover.svg);
				}
			}
		}
		.button-show-chart {
			padding: 10px;
			background: silver;
			margin-left: 25px;
			cursor: pointer;
			color: white;
			font-weight: 600;
			text-align: center;
			@include trans(0.3s, background-color);
			&:hover {
				background-color: #8B9ED7;
			}
		}
	}
	#container-of-users {
		width: 95%; 
		margin: 59px auto 0;
		padding-bottom: 55px;
		.header {
			font-weight: 600;
			background-color: #EEEEEE;
			padding: 15px 15px 0;
			@extend .flex;
			@include justCont(space-between);
		}
		.photo {
			width: 100px;
			.img-wrapper {
				@include circlePhoto(75px);
			}
		}
		.last-name, .first-name, .location, .phone, .username {
			width: calc(20% - 40px);
			padding-right: 15px;
			@extend .text-ellipsis;
		}
		.last-name, .first-name {
			max-width: 150px;
		}
		.show-more {
			@extend .flex;
			@include justCont(center);
			width: 100px;
			cursor: pointer;
			&.active {
				span:nth-child(2) {
					-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
				}
			}
			&:hover span {
				background-color: #8B9ED7;
			}
			span {
				display: block;
				background-color: #656565;
				border-radius: 2px;
				width: 29px;
				height: 9px;
				&:nth-child(2) {
					@include trans(0.3s, transform);					
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg);
					position: relative;
					top: -9px;
				}
			}  
		}

		#preloader {
			height: calc(100vh - 103px);
			width: 100%;
			position: absolute;
			top: 103px;
			left: 0;
			@extend .flex;
			@include alignBoth(center, center);
			img {
				margin: 0 auto;
			}
		}

		#go-to-the-main { 
			cursor: pointer;
			position: fixed;  
			text-align: center;
			padding: 10px;
			bottom: 0;
			left: 50%; 
			display: none;
			color: white;
			z-index: 25;
			width: 100%;
			background: #8B9ED7;			
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			font: 400 15px Verdana, sans-serif;			
			@include trans();
			&:hover {
				background: #9DE14F;
			}
		}

		#information {  
			height: calc(100vh - 103px);
			width: 100%;
			position: absolute;
			top: 103px;
			display: none;
			left: 0;
			@extend .flex;
			@include alignBoth(center, center);
			@include flexDir(column);
			font: 500 25px Verdana, sans-serif;
			span {
				text-align: center;
				display: block;
				width: 100%;
			}
			.img-wrapper {
				margin-top: 25px;
				width: 210px;
				height: 210px;
				img {
					max-width: 100%;
				}
			}
		}

		.persons-info:nth-child(odd) {
			background-color: #EEEEEE;
		}
		.persons-info:nth-child(even) {
			background-color: #CCCCCC;
		} 
		.persons-info {
			padding: 5px 15px; 
			.short-info {
				@extend .flex;
				cursor: pointer;
				@include alignBoth(space-between, center);
			}
			.full-info {
				width: 87%;
				margin: 0px auto; 
				position: relative;  
				display: none;
				// max-width: 1200px;
				.img-of-gender {
					width: 35px;
					height: 35px;
					@include bg;
					display: inline-block;
					position: relative;
					top: 7px;
					&.male {
						background-image: url(../images/man.svg);
 					}
					&.female {
						background-image: url(../images/woman.svg);
					}
				}
				.name {
					font: 600 25px Verdana, sans-serif;
					margin: 15px 0 10px;
				}
				.profile-photo { 
					float: right;
					.img-wrapper {
						@include circlePhoto(150px);
					}
				}
				.data-columns { 
					@extend .flex;
					position: relative; 
					@include flexWrap(wrap);
					padding-bottom: 50px;
					&>div {
						width: 33.3%;
						min-width: 300px;
						margin: 5px 0px 5px 0;
						padding-right: 40px;
						box-sizing: border-box; 
						@extend .text-ellipsis;
						.title {
							font-weight: bold;
							margin-right: 10px;
						}
						&:last-child {
							padding-bottom: 50px;
						}
					}
				}
			}
		} 
	}
	.popup-chart {
		position: fixed;
		z-index: 100;
		background: #EEEEEE;
		width: 100%;
		height: 100vh;
		top: -100%;
		left: -100%;
		opacity: 0;
		-webkit-transition: 0.3s top, 0.3s left, 0.5s opacity;
		@extend .flex;
		@include alignItems(center);
		&.visible {
			top: 0;
			left: 0;
			opacity: 1;
		}
		.close-button {
			position: absolute;
			right: 4%;
			top: 4%;
			width: 35px;
			cursor: pointer;
			height: 35px;
			&:hover span {
				background: #8B9ED7;
			}
			span {
				display: block;
				width: 35px;
				height: 8px;
				border-radius: 2px;
				background: grey;
				position: relative;
				@include trans(0.3s, background-color);

				&:nth-child(1) {
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 8px;
				}
				&:nth-child(2) {
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg); 
					top: 0px;
				}
			}
		}
		#chart-of-gender {
			width: 85%;
			margin: 10px auto; 
		} 
	}
}